<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.endershrooms.inboxforreddit3"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk
    android:minSdkVersion="16"
    android:targetSdkVersion="25"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".activities.LoginWebViewActivity"/>
    <activity android:name=".activities.MessagesActivity"/>

    <meta-data
      android:name="android.support.VERSION"
      android:value="25.4.0"/>
    <meta-data
      android:name="android.arch.lifecycle.VERSION"
      android:value="27.0.0-SNAPSHOT"/>

    <activity
      android:label="@string/title_activity_tempactivity"
      android:name=".activities.tempactivity"
      android:theme="@style/AppTheme.NoActionBar">
    </activity>
  </application>

</manifest>